@media (max-width: 1140px) {
    .title {
        &__heading {
            font-size: 56px;
        }
        &__description {
            font-size: 22px;
        }
        &__btn {
            margin-top: 4rem;
            font-size: 22px;
            padding: 0.43rem 3.88rem;
        }
    }
}


@media (max-width: 768px) {
    .title {
        &__heading {
            font-size: 45px;
        }
        &__description {
            font-size: 18px;
        }
        &__btn {
            margin-top: 4rem;
            font-size: 16px;
            padding: 0.43rem 3.88rem;
        }
    }

    .content {        
        background-position: -360px -371px;
    }
}


